@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

#body {
  background-color: #E8DBE5;
  height: 250px;
  font-family: "Moderat", sans-serif;
}
.js-loading .page {
  display: none; /* Hide all pages by default */
}
.page {
  padding: 20px;
}
#page1 {
  display: block; /* Show the home page by default */
}
#page2, #page3, #page4 {
  display: none; /* Hide other pages by default */
}
.footer .container {
  width: 100%;
  margin: auto;
}
.footer {
  background-color: #621B5F;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-family: "Moderat", sans-serif;
  font-size: 20px;
}

.social-links {
  margin-top: 10px;
}

.social-link {
  display: inline-block;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.social-link:hover {
  text-decoration: underline;
}
.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.35;
  z-index: -1; /* Set the z-index to position the video behind other elements */
}
.chat-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: 100px;
  background-color: #621B5F;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; /* Add transition for smooth effect */
}

.chat-toggle img {
  width: 70px;
  height: 70px;
  color: #fff;
  transition: transform 0.3s ease-in-out; /* Add transition for smooth effect */
}

/* Add hover effect */
.chat-toggle:hover {
  transform: scale(1.2) rotate(720deg); /* Enlarge and spin twice */
}

.chat-toggle:hover img {
  transform: scale(1.2) rotate(720deg); /* Enlarge and spin twice */
}

.chat-container {
  position: fixed;
  top: 58%;
  right: 20px;
  transform: translateY(-50%);
  max-width: 400px;
  padding: 20px;
  border: 0px solid #E8DBE5;
  border-radius: 50px;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
  display: none; /* Hide chat container by default */
  font-family: "Moderat", sans-serif;
  font-weight: 500;
  opacity: 0.95;
}

.chat-box {
  height: 200px; /* Reduce height to make space for text box */
  overflow-y: scroll;
  margin-bottom: 10px;
  padding: 5px;
  border: 10px solid #3e113c;
  border-radius: 30px;
  background-color:  #3e113c;
  overflow-y: auto;
}
.chat-box::-webkit-scrollbar {
  display: none;
}
.chat-message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.chat-message.bot-message {
  justify-content: flex-start;
}

.chat-message.user-message {
  justify-content: flex-end;
}

.message-text {
  background-color: #f0f0f0; /* Background color for message */
  border-radius: 15px; /* Rounded corners */
  padding: 10px; /* Padding for text */
  max-width: 70%; /* Max width for message */
}

.message-text p {
  margin: 0; /* Remove default margin for paragraphs */
}
.message-icon {
  width: 20px; /* Adjust icon width */
  height: 20px; /* Adjust icon height */
  border-radius: 50%; /* Make icon circular */
  margin-left: 10px; /* Add spacing between text and icon */
}
.chat-message-image {
  width: 40px; /* Adjust image width as needed */
  height: 40px; /* Adjust image height as needed */
  border-radius: 50%; /* Make image circular */
  margin-right: 10px; /* Add spacing between image and text */
}
.user-input[type="text"] {
  width: 70%; /* Adjust width */
  height: 100%;
  padding: 10px;
  border: 0px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px; /* Add margin to separate from send button */
}

button {
  padding: 10px 20px;
  background-color: #621B5F;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e113c;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: right;
  align-items: right;
  padding: 1%;
  border-radius: 5%;
  text-decoration: none;
  font-family: "Moderat", sans-serif;
  font-weight: bold;
  font-weight: 100;
}

/* Style for the logo */
.contacts-db-logo-1 {
  margin-right: 10px;
  opacity: 10;
}

.contacts-db-logo-1 img {
  height: 100px;
  width: auto;
  margin-right: 100px; /* Adjust the spacing between the logo and the first link */
}

/* Style for the links inside the navbar */
.navbar a {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-family: "Moderat", sans-serif;
  font-weight: bold;
  position: relative;
  font-size: medium;
  text-decoration: none;
}

/* Ensure equal spacing between links */
.navbar a + a {
  margin-left: 100px; /* Adjust the spacing between links */
}

/* Add a hover effect */
.navbar a::before {
  content: ''; /* Create an empty pseudo-element */
  position: absolute; /* Position the pseudo-element */
  top: 0; /* Start the effect from the top of the link */
  left: 0;
  width: 100%;
  height:0; /* Initially, the height is zero */
  background-color: rgb(255, 255, 255); /* Background color with opacity */
  border-radius: 5px; /* Rounded corners */
  transition: height 0.3s; /* Smooth transition for the height property */
  z-index: -1; /* Ensure the pseudo-element is behind the link text */
  text-decoration: none;
}

/* Increase height on hover */
.navbar a:hover::before {
  height: 100%; /* Increase the height to cover the link */
  text-transform: uppercase;
}


.page {
  display: none; /* Hide all pages by default */
  padding: 20px;
}
/* Show only the content of the home page by default */

.home .rectangle-2 {
  opacity: 0.6;
  background: #000000;
  position: absolute;
  left: 537px;
  top: 0px;
  width: 126px;
  height: 163px;
}
.we-make-customized-drawstring-backpacks {
  margin: 0 11.9px 6px 33.9px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: "Moderat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #000000;
}
.we-make-customized-drawstring-backpacks {
  margin: 0 11.9px 6px 33.9px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: "Moderat", sans-serif;
  font-weight: 500; /* Change font weight to medium */
  font-size: 30px;
  color: black; /* Set color to black */
}

.we-make-customized-drawstring-backpacks-sub40 {
  font-family: "Moderat", sans-serif;
  font-weight: 500; /* Maintain font weight */
  font-size: 30px; /* Set the same font size as "We Make" */
  line-height: 1.333;
  color: #621B5F; /* Set color to purple */
}

.we-make-customized-drawstring-backpacks-sub41 {
  font-family: "Moderat", sans-serif;
  font-weight: bold; /* Bolden font */
  font-size: 36px;
  line-height: 1.333;
  color: #621B5F;
}
.youll-want-to-use-everyday {
  margin: 0 0 140px 20px;
  font-family: "Moderat", sans-serif;
  font-size: 22px;
  font-weight: 500; /* Change font weight to medium */
  text-align: center;
  color: #3e113c; /* Set color to dark purple */
}

/* Page 2 - Buy Now */
.page-2 {
  display: none;
  text-align: center;
  padding: 20px;
}

.page-2 .buy-now {
  font-family: "Moderat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #3e113c; /* Darker purple */
}

.page-2 .buy-now-sub {
  font-family: "Moderat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #621B5F; /* Slightly lighter purple */
}
.page-3 .create-your-own {
  font-family: "Moderat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #3e113c; /* Darker purple */
}

.page-3 .create-your-own-sub {
  font-family: "Moderat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #621B5F; /* Slightly lighter purple */
}
.create-your-own {
  font-family: "Moderat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #3e113c; /* Darker purple */
}

.create-your-own-sub {
  font-family: "Moderat", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #621B5F; /* Slightly lighter purple */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .footer {
    font-size: 16px;
  }

  .social-link {
    margin-right: 5px;
  }

  .chat-container {
    top: 70%;
    right: 10px;
    padding: 10px;
  }

  .chat-box {
    height: 150px;
  }

  .user-input[type="text"] {
    width: 60%;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar a {
    margin-bottom: 10px;
    margin-left: 0; /* Remove left margin for links */
  }

  .contacts-db-logo-1 img {
    height: 80px;
    margin-right: 0; /* Adjust spacing for mobile view */
  }
}

/* Additional media query for smaller screens */
@media (max-width: 480px) {
  .chat-container {
    top: 80%;
    padding: 5px;
  }

  .chat-box {
    height: 100px;
  }

  .user-input[type="text"] {
    width: 50%;
  }

  .navbar a {
    font-size: small; /* Adjust font size for smaller screens */
  }
}
